.grid {
    float:left;
    margin-right: 20px;
}
.grid td {
    /*padding: 0;*/
    margin: 0;
    text-align: center;
    display: inline-block;
    width: 1em;
    height: 1em;
    max-width: 1em;
    max-height: 1em;
    background-color: #AAA;
}

.grid td.highlighted {
    background-color: #d77;
}